<div class="main-container">
  <div class="img-container">
    <img
      class="main-logo"
      src="../../assets/images/Little Chef-logos.jpeg"
      alt="logo"
    />

		<div class="input-container">
			<form #userForm = "ngForm" (ngSubmit) = "onUserAdd(userForm.value)">
				<input type="text" class="form-control" placeholder="Enter Name" name="name" [(ngModel)]="addUserName" required >
				<input type="submit" value="Submit" class="btn btn-primary btn-lg">
  			</form>
		</div>
  </div>

  
</div>
