<div class="third-container">
  <div class="class_image">
    <img
      class="main-logo"
      src="../../assets/images/Little Chef-logos.jpeg"
      alt="logo"
    />
  </div>

  <div class="class_table">
    <h3>My Rewards</h3>
    <table mat-table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>User</th>
          <th>Account</th>
          <th>Reward Tokens</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
        <td>***</td>
        <td>***</td>
        <td>***</td>
      </tbody>
    </table>
  </div>

  <div class="flex-container">
    <div class="discount1">
      <h3>Get 5% off the classes</h3>

      <div class="team">
        <img src="../../assets/images/team_view3.jpg" alt="knife" />
      </div>
    </div>

    <div>
      <a class="btn btn-lg btn-light"> Use </a>
    </div>

    <div class="discount2">
      <h3>Get free kitchen knife set</h3>
      <h3>Requirements - 5 points</h3>
      <div class="knife">
        <img src="../../assets/images/knife_view3.jpg" alt="knife" />
      </div>
    </div>

    <div>
      <button class="btn btn-lg btn-light">Use</button>
    </div>
  </div>
</div>
